:root {
    --backgroundGreen: #8F9779;
    --navBarGreen: #4B6F44;
    --thirdColor: #DADD98;

}





.body {
    background-color: var(--backgroundGreen);
}

.nav1 {
    display: block;
    background-color: var(--navBarGreen);
    margin: 0%;
    padding: 2%;
    color: white;
}

.name {
    text-decoration: underline;
    font-size: 500%;

}

.subTitle {
    text-align: end;
}

nav h1::after{
    color: var(--thirdColor);
    content: "Taylor";
}

/*img {
    display: block;
    flex-direction: end;
    width: 20%;
    height: 15%;
    
} */


ul {
    display: block;
    flex-direction: row;
    text-align: end;
}

ul button {
    display: inline-block;
    margin-left: 2%;
    border-radius: 25%;
    background-color: var(--thirdColor);
}

ul button:hover {
    background-color: #f9fbcc;
}



p {
    color: black;
}

