:root {
    --backgroundGreen: #8F9779;
    --navBarGreen: #4B6F44;
    --thirdColor: #DADD98;

}




.body {
    background-color: var(--backgroundGreen);
}

.nav1 {
    display: block;
    background-color: var(--navBarGreen);
    margin: -1% -.5% 0% -.6%; 
    padding: 2%;
    color: white;
    border: solid var(--thirdColor) 5px;
    border-right: none;
    border-left: none;
}


.name {
    text-decoration: underline;
    font-size: 500%;
    margin-bottom: -2%;
    margin-top: 3%;

}

.subTitle {
    text-align: end;
}

.occupations{
    margin-left: 5%;
    color: var(--thirdColor)
}



nav h1::after{
    color: var(--thirdColor);
    content: "Taylor";
}

img {
    display: block;
    width: 30%;
    margin-top: 5%;
    height: 25%;
    margin-left: 10%;
    border-radius: 50%;
    border: solid var(--navBarGreen) 4px;
}



ul {
    display: block;
    flex-direction: row;
    text-align: end;
}

ul a {
    display: inline-block;
    margin-left: 2%;
    color: var(--thirdColor);
}

ul a:hover {
    color: #f7f8e4;
}

ul a:visited {
    color: var(--backgroundGreen);
}





