:root {
    --backgroundGreen: rgb(109, 164, 109);
    --navBarGreen: rgb(55, 89, 55);
    --thirdColor: rgb(232, 192, 132);

}





.body {
    background-color: var(--backgroundGreen);
}

.nav1 {
    display: block;
    background-color: var(--navBarGreen);
    margin: 0%;
    padding: 2%;
    color: white;
    text-decoration: underline;
}

nav h1::after{
    color: var(--thirdColor);
    content: "Taylor";
}

nav h1 {
    font-size: xx-large;
}


p {
    color: black;
}

